body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.firs-slider,
.second-slider,
.third-slider {
  margin: 50px auto;
  width: 60%;
}

.slider-wrapper {
  overflow: hidden;
  margin: auto;
}

.slider-wrapper > :first-child {
  display: flex;
  flex-direction: row;
}

.slide {
  width: 100%;
  border: 1px solid black;
}

.slide img {
    display: block;
    width: 100%;
}

.arrows {
  margin: auto;
  text-align: center;
}

.arrows * {
  display: inline-block;
  padding: 10px 30px;
  margin: 10px;
  background-color: lightgray;
  cursor: pointer;
  transition: 0.25s ease-in-out background;
  border: none;
}

.arrows *:hover {
  background-color: gray;
}

.dots {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 0;
}

.dots .dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  margin: 20px 5px;
  cursor: pointer;
  transition: 0.2s background ease;
}

.dots .active {
  background-color: blue;
}